<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Diego Tadeu - Cientista de Dados</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="static/assets/img/favicon.jpeg" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: MyResume - v4.8.1
    * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>

<body>
  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero1" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Início</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Apresentação</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Curriculum</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portifólio</span></a></li>
        <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contato</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero1" class="flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Diego Tadeu</h1>
      <div class="social-links">
        <a href="https://pt.stackoverflow.com/users/298352/diego-tadeu-da-silva" class="stack-overflow"><i class="bx bxl-stack-overflow"></i></a>
        <a href="#" class="youtube"><i class="bx bxl-youtube"></i></a>
        <a href="https://www.kaggle.com/diegotad" class="kaggle"><i class="devicon-kaggle-original"></i></a>
        <a href="https://github.com/djegocoder" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/diego-tadeu/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main>

    <br><br><br><br><br><br><br>

    <div class="card m-auto mb-3" data-aos="zoom-in" style="max-width: 90%;">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body">
            <h3 class="card-title m-auto mb-auto ml-auto" class="container" id="bets">Projeto Previsão Bets</h3>
            <p class="card-text">Qual é a brincadeira? É a seguinte, é possível prever as ODDs das plataformas de
              apostas?</p>
            <p class="card-text">Depois de um ajuste jurídico na legislação brasileira, as plataformas de apostas
              esportivas cresceram muito. Um reflexo
              bem notável é no patrocínio do campeonato brasileiro de futebol masculino série a. Cada um dos 20 times da
              série a de 2022 tem o patrocínio de uma plataforma de aposta.
            </p>
            <div class="p-card-text">As plataformas usam dados dos resultados anteriores e opiniões de especialistas
              para determinar as suas ODDs mas será que é possível prever as ODDs só com base nos resultados anteriores?
            </div>
          </div>
        </div>
      </div>
    </div>

    <br><br><br><br><br><br><br>

    <div class="container" data-aos="zoom-in" data-aos-duraction="300">
      <div class="row g-0">
        <div class="col-md-12 col-sm-12 col-xm-12">
          <div class="m-auto mr-auto">
            <div class="card-bory sd-8">
              <div class="text-center">
                <h1>Primeiro apresentamos os 20 times</h1>
              </div>
              <div id='chart1' class='card-body col-sm-10 col-md-10 col-xm-10 row-'></div>
            </div>
          </div>
        </div>
      </div>

      <br><br><br><br><br><br><br>

      <div class="container" data-aos="zoom-in" data-aos-duraction="300">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xm-12">
            <div class="m-auto mr-auto">
              <div class="card-bory sd-8">
                <div class="text-center">
                  <h1>Em seguida, as plataformas de apostas</h1>
                </div>
                <div id='chart2' class='card-body col-sm-10 col-md-10 col-xm-10 row-'></div>
              </div>
            </div>
          </div>
        </div>

        <br><br><br><br><br><br><br>

        <div class="container" data-aos="zoom-in" data-aos-duraction="300">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xm-12">
              <div class="m-auto mr-auto">
                <div class="card-bory sd-8">
                  <div class="text-center"><h1>Em seguida, as plataformas de apostas</h1></div>
                  <div id='chart3' class='card-body col-sm-10 col-md-10 col-xm-10 row-'></div>
                </div>
              </div>
            </div>
          </div>

          <br><br><br><br><br><br><br>

          <div class="container" data-aos="zoom-in" data-aos-duraction="300">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xm-12">
                <div class="m-auto mr-auto">
                  <div class="card-bory sd-8">
                    <div class="text-center"><h1>Em seguida, as plataformas de apostas</h1></div>
                    <div id='chart4' class='card-body col-sm-10 col-md-10 col-xm-10 row-'></div>
                  </div>
                </div>
              </div>
            </div>

            <br><br><br><br><br><br><br>

            <div class="container" data-aos="zoom-in" data-aos-duraction="300">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xm-12">
                  <div class="m-auto mr-auto">
                    <div class="card-bory sd-8">
                      <div class="text-center"><h1>Em seguida, as plataformas de apostas</h1></div>
                      <div id='chart5' class='card-body col-sm-10 col-md-10 col-xm-10 row-'></div>
                    </div>
                  </div>
                </div>
              </div>

              <br><br><br><br><br><br><br>

              <div class="container" data-aos="zoom-in" data-aos-duraction="300">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xm-12">
                    <div class="m-auto mr-auto">
                      <div class="card-bory sd-8">
                        <div class="text-center"><h1>Em seguida, as plataformas de apostas</h1></div>
                        <div id='chart6' class='card-body col-sm-10 col-md-10 col-xm-10 row-'></div>
                      </div>
                    </div>
                  </div>
                </div>

  </main>

</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs1 = {{ graph1JSON | safe}};
  Plotly.plot('chart1', graphs1, {});

  var graphs2 = {{ graph2JSON | safe}};
  Plotly.plot('chart2', graphs2, {});

  var graphs3 = {{ graph3JSON | safe}};
  Plotly.plot('chart3', graphs3, {});

  var graphs4 = {{ graph4JSON | safe}};
  Plotly.plot('chart4', graphs4, {});

  var graphs5 = {{ graph5JSON | safe}};
  Plotly.plot('chart5', graphs5, {});

  var graphs6 = {{ graph6JSON | safe}};
  Plotly.plot('chart6', graphs6, {});
</script>

</html>