<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Teste de desenvolvimento</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v4.8.1
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/static/assets/img/portfolio/portfolio5-detail-1.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/portfolio5-detail-2.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/portfolio5-detail-3.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Rede Generativa Adversárias</h3>
              <ul>
                <li><strong>Categoria</strong>: Visão Computacional</li>
                <li><strong>Data do projeto</strong>: 14 de Novembro de 2022</li>
                <li><strong>Página do projeto</strong>:<ol><a href="https://colab.research.google.com/drive/1TM8JYyUL7FUjc4PzZYO_g8T_a4OEgJ7f?usp=share_link" target="_blank">DCGAN</a></ol>
                                                       <ol><a href="https://colab.research.google.com/drive/1GadAAp7lmu_6_oUu8xFt8jwfkcHLTzF9?usp=share_link" target="_blank">Deep Dream</a></ol>
                                                       <ol><a href="">StyleGAN</a></ol>
                                                       <ol><a href="">SRGAN</a></ol></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Generative Adversarial Network (GAN)</h2>
              <p>
                Como cientista de dados, posso afirmar que as redes adversárias são um tópico muito relevante em Aprendizado
                 de Máquina. A proposta dessa técnica, feita pelo grupo liderado por Ian Goodfellow em 2014, consiste em 
                 treinar duas redes neurais simultaneamente: um Discriminador e um Gerador. Enquanto o Discriminador é 
                 treinado para identificar o que é real e o que é criado sinteticamente, o Gerador tenta enganá-lo com suas 
                 criações. Desde então, surgiram diversas melhorias, como a CDGAN, StyleGAN e CycleGAN, que exigem grande 
                 quantidade de recursos computacionais e dados robustos. Para fins de prova de conceito, eu criei modelos 
                 simples ou utilizei modelos pré-treinados de código aberto.
              </p>
              <p>
                As redes adversárias são uma técnica fascinante que têm grande potencial em diversas aplicações de Aprendizado 
                de Máquina. No entanto, é importante ressaltar que essa técnica requer muitos recursos computacionais e um 
                grande conjunto de dados para ser eficaz. Por isso, é comum utilizar modelos pré-treinados adaptados para outras 
                aplicações. Como cientista de dados, estou animado com as possibilidades que as redes adversárias podem oferecer, 
                como a geração de imagens e reconhecimento de voz. No entanto, é importante estar ciente dos desafios e 
                limitações dessa técnica e continuar a aprimorá-la para melhor atender às necessidades das aplicações.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>