<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Diego Tadeu - Cientista de Dados</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="static/assets/img/favicon.jpeg" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: MyResume - v4.8.1
    * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>

<body>
  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero1" class="flex-column justify-content-center">
    <div class="container">
      <h1>Diego Tadeu</h1>
      <div class="social-links">
        <a href="https://pt.stackoverflow.com/users/298352/diego-tadeu-da-silva" class="stack-overflow"><i class="bx bxl-stack-overflow"></i></a>
        <a href="#" class="youtube"><i class="bx bxl-youtube"></i></a>
        <a href="https://www.kaggle.com/diegotad" class="kaggle"><i class="devicon-kaggle-original"></i></a>
        <a href="https://github.com/djegocoder" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/diego-tadeu/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <br><br><br><br><br><br><br>

    <div class="card m-auto mb-3" style="max-width: 90%;">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body">
            <h3 class="card-title m-auto mb-auto ml-auto" class="container" id="ame">Projeto AME</h3>
            <p class="card-text">Qual é a brincadeira? É a seguinte, é possível prever as ODDs das plataformas de
              apostas?</p>
            <p class="card-text">Depois de um ajuste jurídico na legislação brasileira, as plataformas de apostas
              esportivas cresceram muito. Um reflexo
              bem notável é no patrocínio do campeonato brasileiro de futebol masculino série a. Cada um dos 20 times da
              série a de 2022 tem o patrocínio de uma plataforma de aposta.
            </p>
            <div class="p-card-text">As plataformas usam dados dos resultados anteriores e opiniões de especialistas
              para determinar as suas ODDs mas será que é possível prever as ODDs só com base nos resultados anteriores?
              <form action="{{ url_for('teste2')}}"method="POST">
                <input type="text" name="ITEM_ID" placeholder="ITEM_ID" required="required" /><br>
                <input type="text" name="ALTURA" placeholder="ALTURA" required="required" /><br>
                <input type="text" name="CAPACIDADE_(L)" placeholder="CAPACIDADE_(L)" required="required" /><br>
                <select name="COMPOSICAO" required="required">
                  <option value="ALUMINIO">Alumínio</option>
                  <option value="INOX">Inox</option>
                </select><br>
                <input type="text" name="COR" placeholder="COR" required="required" /><br>
                <input type="text" name="FORMATO" placeholder="FORMATO" required="required" /><br>
                <input type="text" name="LARGURA" placeholder="LARGURA" required="required" /><br>
                <input type="text" name="MARCA" placeholder="MARCA" required="required" /><br>
                <input type="text" name="PARA_LAVA_LOUCAS" placeholder="PARA_LAVA_LOUCAS" required="required" /><br>
                <input type="text" name="PARA_MICRO_ONDAS" placeholder="PARA_MICRO_ONDAS" required="required" /><br>
                <input type="text" name="PESO" placeholder="PESO" required="required" /><br>
                <input type="text" name="PROFUNDIDADE" placeholder="PROFUNDIDADE" required="required" /><br>
                <input type="text" name="TEMPO_GARANTIA" placeholder="TEMPO_GARANTIA" required="required" /><br>
                <input type="text" name="TEM_FERRO_FUNDIDO" placeholder="TEM_FERRO_FUNDIDO" required="required" /><br>
                <input type="text" name="TEM_GRELHA" placeholder="TEM_GRELHA" required="required" /><br>
                <input type="text" name="TEM_TAMPA" placeholder="TEM_TAMPA" required="required" /><br>
                <input type="text" name="TIPO_PRODUTO" placeholder="TIPO_PRODUTO" required="required" /><br>
                <input type="text" name="TIPO_WOK" placeholder="TIPO_WOK" required="required" /><br>
                <input type="text" name="SESSION_ID" placeholder="SESSION_ID" required="required" /><br>
                <input type="text" name="ITEM_PRICE" placeholder="ITEM_PRICE" required="required" /><br>         
                <button type="submit" class="btn btn-primary btn-block btn-large">Predição</button>
              </form>
              <h1>{{pred}}</h1>
                      </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

</html>